venv/

*.pyc
__pycache__/
__archived__/

files/rules/*
files/wordlists/*
files/masks/*
files/hashes/*
files/screen/*
!files/*/.gitkeep

data/sessions/*

.pytest_cache/

dist/
build/
*.egg-info/

.idea/
migrations/
