venv/

*.pyc
__pycache__/
__archived__/

files/rules/*
files/wordlists/*
files/masks/*
files/hashes/*
files/screen/*
!files/*/.gitkeep

data/instance/*.sqlite3
data/sessions/*
!data/sessions/.gitkeep

.pytest_cache/

dist/
build/
*.egg-info/

**/**.sqlite3

.idea/
migrations/
