venv/

*.pyc
__pycache__/
__archived__/

files/rules/*
files/wordlists/*
files/masks/*
files/hashes/*
files/screen/*
data/sessions/*

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

.idea/
migrations/

#data/*
!data/.gitkeep
