{% extends 'layout/base.html' %}

{% block content %}

<div class="row mt-5">
    <div class="col-6">
        <div class="card">
            <h4 class="card-header">{{ node.name }}</h4>
            <div class="card-body card-pb">
                <div class="row">
                    <div class="col">
                        {{ node.name }}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {{ node.hostname }}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {{ node.port }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <h4 class="card-header">Sessions</h4>
            <div class="card-body card-pb">
                {% for session in sessions_list %}
                <div class="row row-striped">
                    <div class="col-1" style="padding-right:0">{{ session.session.id }}</div>
                    <div class="col-6"><a href="{{ url_for('sessions.view', session_id=session.session.id) }}">{{ session.friendly_name }}</a></div>
                    <div class="col-4 table-{{ template().get_hashcat_running_class(session.hashcat.state) }}">{{ template().get_hashcat_running_text(session.hashcat.state) }}</div>
                    <div class="col-1"></div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<div class="row mt-5">
    {% if current_user.is_admin %}
    <div class="col-6">
        <div class="card">
            <h4 class="card-header">Hashcat Settings</h4>
            <div class="card-body">
                <form method="post" action="{{ url_for('nodes.update_hashcat_save', node_id=node.id) }}" autocomplete="off">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

                    <div class="form-group">
                        <label for="hashcat_binary">Hashcat Executable Path</label>
                        <input name="hashcat_binary" type="text" id="hashcat_binary" class="form-control" value="{{ node.hashcat_binary }}" placeholder="/path/to/hashcat" required>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-8"><label for="hashcat_status_interval">Hashcat Status Interval</label></div>
                            <div class="col">
                                <input type="number" id="hashcat_status_interval" name="hashcat_status_interval" class="form-control text-right" placeholder="10" value="{{ node.hashcat_status_interval }}">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="hashcat_force">Use --force</label>
                        <div class="custom-control custom-switch float-right">
                            <input name="hashcat_force" type="checkbox" class="custom-control-input" id="hashcat_force" value="1" {{ "checked='checked'" if node.hashcat_force == 1 else '' }}>
                            <label class="custom-control-label" for="hashcat_force"></label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="hashcat_rules_path">Rules Path</label>
                        <input name="hashcat_rules_path" type="text" id="hashcat_rules_path" class="form-control" value="{{ node.hashcat_rules_path }}" placeholder="/path/to/hashcat/rules" required>
                    </div>

                    <div class="form-group">
                        <label for="wordlists_path">Wordlists Path</label>
                        <input name="wordlists_path" type="text" id="wordlists_path" class="form-control" value="{{ node.wordlists_path }}" placeholder="/path/to/hashcat/wordlists" required>
                    </div>

                    <div class="form-group">
                        <span>
                            <label for="uploaded_hashes_path">Uploaded Hashes Path</label>
                            <span class="text-primary" title="" data-container="body" data-toggle="popover" data-placement="left" data-content="This folder will be used in cases where the user wants to upload a very large hash file (ie from HIBP).<br>In this instance, users will upload the file via SSH and then select it from the front-end." data-original-title="Uploaded Hashes">
                                <i class="fas fa-question-circle"></i>
                            </span>
                        </span>
                        <input name="uploaded_hashes_path" type="text" id="uploaded_hashes_path" class="form-control" value="{{ node.uploaded_hashes_path }}" placeholder="/path/to/uploaded/hashes/folder">
                        <div class="text-info small mt-2">Make sure all users have <b>write</b> access to this folder.</div>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endif %}


    <div class="col">
        <div class="row"><div class="col">
            <div class="card">
                <h4 class="card-header">Wordlists</h4>
                <div class="card-body card-pb">
                    {% for key, wordlist in wordlist_files.items() %}
                    <div class="row row-striped">
                        <div class="col">
                            {{ wordlist.name }}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div></div>

    {% if not current_user.is_admin %}
    </div>
    <div class="col">
    {% endif %}
        <div class="row {{ 'mt-3' if current_user.is_admin else '' }}"><div class="col">
            <div class="card">
                <h4 class="card-header">Rules</h4>
                <div class="card-body card-pb">
                    {% for key, rule in rule_files.items() %}
                    <div class="row row-striped">
                        <div class="col">
                            {{ rule.name }}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div></div>
    </div>
</div>

{% endblock %}