{% extends 'layout/base.html' %}

{% block content %}

<div class="row mt-5">
    <div class="col-6">
        <div class="card">
            <h4 class="card-header">{{ node.name }}</h4>
            <div class="card-body card-pb">
                <div class="row">
                    <div class="col">
                        {{ node.name }}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {{ node.hostname }}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {{ node.port }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="text-info small mt-2">
                This node is currently unavailable. Please make sure this node is running and can be connected.
            </div>
        </div>
    </div>
</div>

{% endblock %}